name = "riocordas"
type = "javascript"
account_id = ""
workers_dev = true
route = ""
zone_id = ""

[env.development]
vars = { ENVIRONMENT = "development" }

[env.production]
vars = { ENVIRONMENT = "production" }
